data/
terrier-core-4.2/bin/
terrier-core-4.2/doc/
terrier-core-4.2/etc/
terrier-core-4.2/src/
terrier-core-4.2/licenses/
terrier-core-4.2/logs/
terrier-core-4.2/share/
terrier-core-4.2/target/
terrier-core-4.2/var/index/
terrier-core-4.2/LICENZE.txt
terrier-core-4.2/pom.xml
terrier-core-4.2/README.md
terrier-core-4.2/var/results/
out/
.idea/
*.class
*.iml
terrier-core-4.2/.settings
terrier-core-4.2/.classpath
terrier-core-4.2/.project
terrier-core-4.2/.*
pom.xml
report/*.log
report/*.out
report/*.synctex.gz
report/*.toc
report/*.aux
eval/*.mat
